div {
    display: block;
    position: absolute;
    top: 56px;
    height: 784px;
    overflow: hidden;
    width: 398px; // 40px left & right gap (for scroller, passengerlist)
margin-left: 112px;
}

.deck-image {
    padding-top: 64px;
    z-index: 10;
    overflow: visible
}

.deck-seatnumber {
    font-size: 10px;
    fill: #fff;
}

image,
text {
    cursor: pointer;
}

text {
    color: red;
}