<div class="header">
  <span class="logo"></span>
  <span class="heading">Skyteam services availability dashboard</span>
  <span class="refresh" (click)="refreshData()"></span>
</div>

<div class="refreshedAt">
  <span>Last refreshed @ {{lastRefreshedTime}}</span>
</div>

<table *ngIf="levelOneData">
  <thead>
  <tr>
    <td>Application name</td>
    <td>Application description</td>
    <td>Last 1 hr status</td>
    <td>Last 24 hr status</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of levelOneData">
    <td>{{item.urlCode}}</td>
    <td>{{item.urlDescription}}</td>
    <td [ngClass]="item.oneHrstatus"></td>
    <td [ngClass]="item.twentyFourHrstatus"></td>
  </tr>
  </tbody>
</table>

<div *ngIf="apiFailed" class="fatal">Sorry something went wrong during last refresh..</div>

<div *ngIf="alert" id="openModal" class="modalDialog" (click)="alert = false">
    <div>
        <a (click)="alert = false" class="close">X</a>
        <p class="blink-me">Many Applications are down !!!</p>
    </div>
</div>