<div class="header">
  <span>Logo</span>
  <span>Some Message</span>
  <span class="refresh" (click)="refreshData()"></span>
</div>

<div class="refreshedAt">
  <span>Last refreshed @ {{lastRefreshedTime}}</span>
</div>

<table>
  <thead>
  <tr>
    <td>Heading 1</td>
    <td>Heading 2</td>
    <td>Heading 3</td>
    <td>Heading 4</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of levelOneData">
    <td>{{item.urlCode}}</td>
    <td>{{item.urlDescription}}</td>
    <td [ngClass]="item.oneHrstatus"></td>
    <td [ngClass]="item.twentyFourHrstatus"></td>
  </tr>
  </tbody>
</table>
